@import "node_modules/bootstrap/less/bootstrap.less";
@import "node_modules/font-awesome/less/font-awesome.less";
@import "variables.less";
// @import "node_modules/bootswatch/paper/variables.less";
@import "node_modules/bootswatch/paper/bootswatch.less";

@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}

body {
	padding-top: 70px;
}

// .text {
// 	display: inline-block;
// }

.images {
	float:left; 
	margin-right:20px;
	margin-bottom: 20px;
}

.exp img {
	height: 30px;
	float: right;
	margin-right: 10px; 
}

.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-shadow {
	.shadow;
	transition: all 0.3s ease;
}

.thumbnail:hover {
	.thumbnail;
 	transform: translateY(-0.2em);
}

.thumbnail-link a:hover {
	.thumbnail;
 	transform: translateY(-0.2em);
}

.about p {
	font-size: @font-size-profile;
}

.profile {
	.images;
	.shadow;
	height: 390px;
	}

.thumbnail {
	.images;
	.hover-shadow;
	width: 250px;
	border: none;
}

.thumbnail-link {
	.thumbnail;
	cursor: pointer;
}

.sub-title {
	font-size: @font-size-large;
	margin-bottom: 0;
	display: inline-block;
	clear: right;
}

.stronger-text {
	font-weight: 500;
}

.sub-content {
	color: @gray;
}

// .label {
// 	font-size: @font-size-small;
// }

.blank-para {
	clear: both;
	padding: 1px;
}

.table-img {
	padding-bottom: 1px !important; 
}

.table-borderless td{
	border: none !important;
}

.table-time {
	font-size: @font-size-large;
	padding-bottom: 1px !important;
}

.table-title {
	.table-time;
	font-weight: 500;
}

.table-content {
	padding-top: 0 !important;
}

.authors {
	margin-bottom: 0;
}

.conferences {
	color: @gray-light;
	margin-bottom: 0;
}

.downloads {
	color: @gray-light;
	font-size: @font-size-small;
}

footer {
	text-align: center;
    margin-bottom: 20px;
}
